body
{
    color: #333;
    text-align: center;
    font-family: courier;
    font-size: 10px;
    margin: 0; 
    padding: 0;
}
#cabecera
{

    background-color: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0 ,0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;

}
#cabecera #tagline
{

    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.0em;

}
#container

{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}